<div class="backdrop" (click)="onCancel()"></div>
<dialog open>
  <h2>Add Card</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="image-options">
      <label>
        <input type="radio" name="imageOption" value="ps4" [(ngModel)]="deviceType"/>
        <div class="frame">
          <img src="/assets/ps4.png" alt="Option 1" />
        </div>
      </label>

      <label>
        <input type="radio" name="imageOption" value="ps5" [(ngModel)]="deviceType"/>
        <div class="frame">
          <img src="/assets/ps5.png" alt="Option 2" />
        </div>
      </label>
    </div>

    <div class="custom">
      <p>
        <input type="checkbox" name="custom" id="custom" [(ngModel)]="custom">
        <label for="custom"> Add Custom Price </label>
      </p>
      <input type="number" name="custom price" id="custom price" placeholder="Cost of the hour" [disabled]="!custom" [(ngModel)]="customPrice">
    </div>

    <p class="actions">
      <button type="button" (click)="onCancel()">Cancel</button>
      <button type="submit">Create</button>
    </p>
  </form>
</dialog>
