.card{
  width: 450px;
  /* min-height: 275px; */
  display: flex;
  border: black 1px solid;
  box-shadow: #959595 0px 3px 5px 0px;
  border-radius: 10px;
  background-color: white;
  .left{
    max-width: 150px;
    &.ps5{
      padding: 15px 0px 15px 15px;
      max-height: 245px;
    }
    &.ps4{
      padding: 15px 0px 15px 10px;
      max-height: 260px;
      box-sizing: border-box;
    }
      img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .right{
    width: 100%;
    padding: 20px 10px;
    .name{
      display: flex;
      justify-content: space-between;
      font-size: 20px;
      font-weight: 500;
      .ps{
        position: relative;
        top: -10px;
      }
      >svg{
        cursor: pointer;
        position: relative;
        top: 3px;
      }
    }
    .timer{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      button{
        cursor: pointer;
        padding: 8px 20px;
        background-color: #048E09;
        color: white;
        display: flex;
        gap: 8px;
        align-items: center;
        font-size: 16px;
        transition: all .3s;
        &:hover{
          background-color: #027806;
        }
      }
      button.stop{
        background-color: #C20000;
      &:hover{
          background-color: #a60000;
        }
      }
      >span{
        font-size: 24px;
        font-weight: 500;
      }
    }
    .orders{
      margin-top: 15px;
      .container{
        position: relative;
        width: 100%;
        .add{
          width: 100%;
          cursor: pointer;
          background-color: black;
          box-sizing: border-box;
          color: white;
          padding: 8px 20px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          &:hover{
            background-color: #222;
          }
          div{
            display: flex;
            gap: 10px;
          }
          .menu{
            width: 100%;
          }
        }
      }
    }
    .end{
      display: flex;
      justify-content: space-between;
      font-size: 20px;
      font-weight: 500;
      margin-top: 8px;
      div{
        display: flex;
        align-items: center;
        gap: 5px;
      }
    }
  }
}
.custom-menu {
  background-color: #222;
  border: 1px solid #444;
}
.deleteDevice{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer;
  padding-bottom: 5px;
  p{
    margin: 0;
    color: red;
    font-size: 16px;
    font-weight: 500;
  }
}
svg{
  transition: all 500ms;
}
.reverse{
  transform: rotatex(180deg);
}
