<div class="container">
  <div class="name">
    <p>Device Pricing</p>
    <img src="assets/edit.png" alt="">
  </div>
  <div class="devices">
    <div class="PS">
    <p>PS4 :</p>
    <div>
      <label for="single">Single Player</label>
      <input type="number" name="single" id="single" min="1">
    </div>
    <div>
      <label for="multi">Multi Player</label>
      <input type="number" name="multi" id="multi" min="1">
    </div>
    </div>
    <div class="PS">
    <p>PS5 :</p>
    <div>
      <label for="single">Single Player</label>
      <input type="number" name="single" id="single" min="1">
    </div>
    <div>
      <label for="multi">Multi Player</label>
      <input type="number" name="multi" id="multi" min="1">
    </div>
    </div>
  </div>
</div>
