mat-sidenav-container{
  background-color: #f0f0f0;
  height: 100vh;
}
mat-sidenav-content{
    transition: all .9s;
}
mat-sidenav{
  width: 250px;
  border-right: black 1px solid;
  background-color: white;
  transition: all .5s;
  button.SideHeader {
    cursor: pointer;
    border: 0;
    border-bottom: #a6a6a6 1px solid;
    width: 100%;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px;
    div {
      display: flex;
      align-items: flex-end;
      font-size: 21px;
      gap: 13px;
    }
    img {
      width: 22px;
      height: 22px;
    }
    &:hover{
      transition: all .3s;
      background-color: #a6a6a6;
    }
  }
  .SideBody{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    a{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 18px;
      padding: 10px 20px;
      color: #777777;
      text-decoration: none;
      svg{
        stroke: #777777;
        stroke-width: 2px;
      }
      span {
        font-size: 18px;
        font-weight: 400;
      }
      &:hover{
        background-color: #c0c0c0;
      }
    }
  }
}
.a{
    background-color: #c0c0c0;
    color: black !important;
    svg{
      stroke: black !important;
    }
  }
.shrink{
  width: 60px;
}
.shrinkMargin{
  margin-left: 60px !important;
}
.expandMargin{
  margin-left: 250px !important;
}
